/*
 *  Copyright 2017 Google Inc. All Rights Reserved.
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */

// Basic Configuration
#define MQTT_NAME              "testsensor"

// Basic Configuration
#define MOSFET_PIN        12                         // on the dash board pin 12 is the mosfet signal pin
#define SLEEP_SECONDS     900                        // how long to deepsleep
// Voltage divider math
#define VOLTAGE_DIVIDER   4.5                        // correct for new black boards
//#define VOLTAGE_DIVIDER   4.65                       // correct for the old green boards
//#define VOLTAGE_DIVIDER   5.65                       // board on the patio

// MQTT Configuration
#define MQTT_SERVER_IP    "192.168.1.1"              // no dns, hope your mqtt server is static
#define MQTT_USER         ""                         // optional
#define MQTT_PASSWORD     ""                         // optional
#define MQTT_DELAY        15                         // time to delay inbetween mqtt commands

#define MQTT_STATE_TOPIC  "tele/" MQTT_NAME "/STATE"
#ifdef BUTTON_MODE
    #define MQTT_TOGGLE_TOPIC "cmnd/cord/Power"
  #ifdef HTTP_API
    #define HTTP_URI          "http://192.168.1.1:8123/api/services/light/toggle"
    #define HTTP_ENTITY       "{\"entity_id\": \"light.test\" }"
  #endif
#else
    #define MQTT_SENSOR_TOPIC "tele/" MQTT_NAME "/SENSOR"
#endif

// WiFi
#define       WIFI_SSID     "yourssid"
#define       WIFI_PASSWORD "yourpw"

// Specifying a static address drops connect time down from ~4.5s to ~2.5s
IPAddress     ip       (192,168,1,100);
IPAddress     dns      (8,8,8,8);
IPAddress     gateway  (192,168,1,1);
IPAddress     subnet   (255,255,255,0);
int32_t       channel   = 1;               // these drop connect time down to ~1.0s
unsigned char bssid[18] = { 0x00, 0xDE, 0xAD, 0xBE, 0xEF, 0x00 }; // AP's Mac address
